@{
    ViewData["Title"] = "Home Page";
}
@{
    List<string> logs = ViewData.Model;
}

<div class="logs">
    @foreach(var line in logs){
        if(line != null && line != ""){
            string[] logParts = line.Split(";");
            <p>Datum: @logParts[0]</p>
            <p>Port: @logParts[1]</p>
            <p>Funkce: @logParts[2]</p>
            for (var i = 3; i < logParts.Length; i++){
                <p>@logParts[i]</p>
            }
            <br />
        }
     }
</div>